<div class="m-3">
  <h1>Manage Buildings</h1>
</div>
<div class="row">
  <div class="col">
    <div *ngFor="let building of buildingList">
      <building-item-component [building]="building"></building-item-component>
    </div>
  </div>

  <div class="col">
    <h3>Add New Building</h3>
    <form [formGroup]="buildingForm">
      <div class="row">
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" type="text" />
          <mat-error *ngIf="buildingForm.controls['name'].hasError('required')"
            >Building Name is required.</mat-error
          >
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="fill" floatLabel="always">
          <mat-label>Address</mat-label>
          <input matInput formControlName="address" type="text" />
          <mat-error
            *ngIf="buildingForm.controls['address'].hasError('required')"
            >Building Address is required.</mat-error
          >
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="fill" floatLabel="always">
          <mat-label>State</mat-label>
          <input matInput formControlName="state" type="text" />
          <mat-error *ngIf="buildingForm.controls['state'].hasError('required')"
            >State is required.</mat-error
          >
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="fill" floatLabel="always">
          <mat-label>Zipcode</mat-label>
          <input matInput formControlName="zipcode" type="text" />
          <mat-error
            *ngIf="buildingForm.controls['zipcode'].hasError('required')"
            >Zipcode is required.</mat-error
          >
        </mat-form-field>
      </div>
      <button (click)="addBuildingAsync()">Add Building</button>
    </form>
  </div>
</div>
